div.feedbackBox {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
  }
 div.feedbackContainer {
    width: 100%;
    height: 48%;
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow-y:scroll;
 }