div.feedbackBox {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    max-height: 13.5rem;
    overflow: auto;
    scroll-behavior: auto;
  }
 div.feedbackContainer {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
 }